<?xml version="1.0" encoding="UTF-8" ?>    
<!DOCTYPE mapper    
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easy.journal.common.dao.UserMapper">  

    <select id="getUserByUUID" resultType="com.easy.journal.common.model.User" parameterType="string">  
        select uuid,name,password from users where uuid =#{uuid}  
    </select>    
    
    <insert id="insert" parameterType="string">
    	insert into users (uuid,name,password) values (#{uuid},#{name},#{password})
    </insert>
</mapper> 